
body {
	background: #fafafa;
}

#frame {
	width: 600px;
	padding-top: 50px;
	margin-right: auto;
	margin-left: auto;
	font-family: sans-serif;
	color: #222222;
}

#question {
	padding-left:24px;
	text-align: left;
	font-size: 24px;
	clear: both;
}


#question div {
}

#traduction {
	padding-left:24px;
	text-align: left;
	font-size: 16px;
	clear: both;
}

#traduction div.inner {
	padding-left:24px;
}

#traduction div.inner div {
	padding-top: 8px;
}

#controls {
	padding-top: 36px;
	text-align: left;
	width: 600px;
	clear: both;
}

#controls a {
	padding-right: 12px;
}

#controls div, #controls form {
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 24px;
}


#title {
	text-align: left;
	margin-bottom :0;
	padding-bottom : 48px;

}
